/** @format */
body {
  position: relative;
}
header {
  margin-top: 20px;
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.step__card {
  box-shadow: 0px 0px 6px 2px rgb(226, 224, 224);
  max-width: 80%;
  margin: 10px auto;
  margin-bottom: 40px;
  border-radius: 12px;
}
.step__header {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #fbece4;
}

.step__header h1 {
  font-size: 24px;
  text-align: center;
  width: 50%;
}

.steps li {
  list-style-image: url("./assets/images/telephone-fill.svg");
  font-size: 24px;
}

.steps li:nth-child(2) {
  list-style-image: url("./assets/images/camera-video-fill.svg");
}

.steps li:nth-child(3) {
  list-style-image: url("./assets/images/camera-video-fill.svg");
}

.steps li:nth-child(4) {
  list-style-image: url("./assets/images/book-fill.svg");
}

.steps li:nth-child(5) {
  list-style-image: url("./assets/images/tags-fill.svg");
}

.image_container img {
  width: 100%;
}

.steps__container {
  padding: 20px;
}
.our__students__container {
  width: 60%;
  margin: 0px auto;
  margin-top: 60px;
}
.our__students__container h2 {
  text-align: center;
}
.carousel-indicators {
  position: relative;
}
.carousel-indicators button {
  background-color: #000 !important;
  height: 17px !important;
  width: 17px !important;
  border-radius: 50%;
}
.carousel-item img {
  width: 100%;
}

.student__testimonial {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #433ee9,
    #5439ef,
    #6432f4,
    #7429f8,
    #831afc
  );
  padding: 30px 50px;
  border-radius: 8px;
}

.avatar {
  height: 100px;
  max-height: 100px;
  width: 100px;
  max-width: 100px;
  border-radius: 50%;
}

.student__name,
.student__ranking {
  padding: 5px;
  margin: 5px;
  color: #fff;
  text-align: left !important;
}

.student__name {
  font-weight: 300;
  font-size: 24px;
}
.student__ranking {
  font-weight: 500;
  font-size: 28px;
}
.student__review {
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 0px;
}
.student__review p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.student__review__container {
  width: 70%;
  margin: 10px auto;
  margin-top: 80px;
}

.student__review__container h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 40px;
}

.student__review__container video {
  border: 10px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.newest__feature {
  background-color: #fbece4;
  width: 100%;
  margin-top: 80px;
}

.feature_image_container img {
  width: 100%;
}

.feature__details__container,
.feature__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.feature__details h1 {
  margin: 20px 0px;
  padding: 20px 0px;
}

.feature__details h6 {
  padding: 10px 0px;
  font-size: 22px;
  font-weight: 400;
  opacity: 0.8;
}

.feature__details button {
  background-image: linear-gradient(
    to right,
    #4c39ed,
    #5d34f2,
    #6d2ef6,
    #7c25fa,
    #8b16fe
  );
  padding: 12px 18px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  letter-spacing: 1.2px;
  font-size: 19px;
  text-align: center;
  margin: 20px 0px;
}

.feature__details button span {
  margin-right: 12px;
}

.feature__details p {
  width: 60%;
  padding: 0px;
  margin: 0px;
  text-align: right;
  font-size: 18px;
  opacity: 0.9;
}

.what_will_you_get_container {
  margin-top: 40px;
  padding: 20px 60px;
}

.get_header h1 {
  text-align: center;
  font-size: 28px;
}

.offer_container .row {
  display: flex !important;
  justify-content: center !important;
  text-align: center;
}

.offer_container .row div {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 10px;
  width: 15%;
  font-size: 18px;
  cursor: pointer;
}
.offer_container .row:nth-child(2) div {
  width: 20%;
}

.offer_container .row:nth-child(3) div {
  width: 25%;
}

.offer_container .row:nth-child(4) div {
  width: 12%;
  border: none;
  padding: 0px;
}

.offer_container .row:nth-child(4) div:nth-child(1) button {
  width: 100%;
  border: none;
  background-color: orange;
  color: #fff;
  padding: 4px 9px;
  border-radius: 5px;
}

.youtube_button {
  width: 100%;
  border: none;
  background-color: red;
  color: #fff;
  padding: 4px 9px;
  border-radius: 5px;
}

.offer_container .row:nth-child(4) div:nth-child(1) button span,
.youtube_button span {
  margin-right: 14px;
}
.icon_container {
  display: flex;
}
.floater__button {
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 4px 10px;
  display: flex;
  place-items: center;
  font-size: 22px;
  margin: 5px;
}
.floater {
  display: inline-block;
  position: sticky;
  bottom: 9%;
  left: 90%;
}
.floater__button:nth-child(1) {
  background-color: blue;
  color: #fff;
}

.floater__button:nth-child(2) {
  background-color: green;
  color: #fff;
}

.chat__box {
  margin-top: 5px;
  box-shadow: 0px 0px 9px 3px #ccc;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 780px) {
  header {
    margin-top: 15px;
    padding: 15px;
  }

  header h1 {
    font-size: 23px;
  }

  .step__card {
    margin: 5px auto;
  }
  .step__header {
    padding: 13px;
  }

  .step__header h1 {
    font-size: 15px;
    text-align: center;
    width: 90%;
  }
  .steps__container {
    padding: 14px;
  }
  .steps {
    padding: 0px;
    margin: 0px;
    margin-left: 14px;
  }
  .steps li {
    list-style-image: url("./assets/images/telephone-fill.svg");
    font-size: 16px;
    margin-bottom: 5px;
  }

  .our__students__container {
    width: 100% !important;
  }
  .carousel-indicators button {
    height: 12px !important;
    width: 12px !important;
  }

  .student__testimonial {
    padding: 20px;
  }

  .avatar {
    height: 80px;
    width: 80px;
  }

  .student__name {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
  }
  .student__ranking {
    font-size: 19px;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
  }
  .student__review {
    margin-top: 15px;
    padding: 15px;
  }
  .student__review p {
    font-size: 18px;
  }

  .student__review__container {
    width: 90%;
    margin-top: 40px;
  }

  .student__review__container h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .feature__details {
    align-items: center;
  }
  .feature__details h1 {
    margin: 10px 0px;
    padding: 10px 0px;
    font-size: 20px;
  }

  .feature__details h6 {
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .feature__details button {
    margin: 10px 0px;
  }

  .feature__details button span {
    margin-right: 12px;
  }

  .feature__details p {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .what_will_you_get_container {
    margin-top: 30px;
    padding: 10px 20px;
  }

  .get_header h1 {
    font-size: 22px;
  }

  .offer_container .row div {
    padding: 2px 6px;
    margin: 7px;
    width: 40%;
    font-size: 12px;

  }
  .offer_container .row:nth-child(2) div {
    width: 42%;
  }

  .offer_container .row:nth-child(3) div {
    width: 45%;
  }

  .offer_container .row:nth-child(4) div {
    width: 40%;
    border: none;
    padding: 0px;
  }

  .offer_container .row:nth-child(4) div:nth-child(1) button {
    width: 100%;
    border: none;
    background-color: orange;
    color: #fff;
    padding: 4px 9px;
    border-radius: 5px;
  }

  .youtube_button {
    width: 100%;
    border: none;
    background-color: red;
    color: #fff;
    padding: 4px 9px;
    border-radius: 5px;
  }

  .offer_container .row:nth-child(4) div:nth-child(1) button span,
  .youtube_button span {
    margin-right: 14px;
  }
  .floater__button {
    font-size: 18px;
    margin: 2px;
  }
  .floater {
    bottom: 4%;
    left: 67%;
  }
}
